# .gitignore

# Byte-compiled / optimized / DLL files
*.py[cod]
__pycache__/
*.so

# C extensions
*.pyd

# Distribution / packaging
.Python
env/
venv/
myvenv/
ENV/
env.bak/
venv.bak/
*.egg-info/
dist/
build/

# Django specific
db.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd
__pycache__/
local_settings.py

# Static files
staticfiles/
static/

# Media files (if applicable)
media/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# dotenv
.env
.env.*

# IDE specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS specific files
.DS_Store

# Windows specific files
Thumbs.db
ehthumbs.db
Desktop.ini
